@font-face {
  font-family: "iconfont"; /* Project id 1544881 */
  src: url('./fonts/iconfont.woff2?t=1627440935649') format('woff2'),
  url('./fonts/iconfont.woff?t=1627440935649') format('woff'),
  url('./fonts/iconfont.ttf?t=1627440935649') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enter:before {
  content: "\e651";
}

.icon-center:before {
  content: "\e609";
}

.icon-monitor:before {
  content: "\e629";
}

.icon-lamp:before {
  content: "\e60f";
}

.icon-fankui1:before {
  content: "\e606";
}

.icon-fuzhi-copy:before {
  content: "\e646";
}

.icon-fangda:before {
  content: "\e648";
}

.icon-PK:before {
  content: "\e696";
}

.icon-youxiang:before {
  content: "\e604";
}

.icon-arrow-left:before {
  content: "\e9db";
}

.icon-arrow-right:before {
  content: "\e608";
}

.icon-right:before {
  content: "\e607";
}

.icon-left:before {
  content: "\e9da";
}

.icon-sousuo:before {
  content: "\e605";
}

.icon-tishi:before {
  content: "\e6ee";
}

.icon-33:before {
  content: "\e61d";
}

.icon-search:before {
  content: "\e603";
}

.icon-expand-up:before {
  content: "\e67e";
}

.icon-shouqi:before {
  content: "\e601";
}

.icon-gengduo:before {
  content: "\e649";
}

.icon-shangsheng1:before {
  content: "\e627";
}

.icon-jiantou1-copy-copy-copy:before {
  content: "\e600";
}

.icon-sosu:before {
  content: "\e628";
}

.icon-you:before {
  content: "\e744";
}

.icon-xia:before {
  content: "\e64f";
}

.icon-shang:before {
  content: "\e626";
}

.icon-wechat:before {
  content: "\e694";
}

.icon-down:before {
  content: "\e602";
}

.icon-github:before {
  content: "\e63b";
}

.icon-ttww:before {
  content: "\e617";
}

.icon-forum:before {
  content: "\e631";
}

.icon-slack:before {
  content: "\e9d9";
}

.icon-matrix:before {
  content: "\e643";
}

